{{#each surveys as |survey|}}
 <section id="survey{{survey._id}}" data-id="{{survey._id}}" class="all">
    <h2>{{survey.title}}</h2>
    <p> Question: {{survey.question}}</p>
    {{#if survey.answer}}
    <p>add something here to show the results!
    but first write show anwers api, and try to add some variable
    to seperate if the survey.answer is posted the signed-in user.
    Because know it accepts any answer and do not allow the user who didn't
    submit an answer yet, if there is alreay an answer for the question.</p>
    {{else}}
  <form>
    <input type="radio" name="{{survey._id}}" value="{{survey.options.[0]}}"> {{survey.options.[0]}}
    <input type="radio" name="{{survey._id}}" value="{{survey.options.[1]}}"> {{survey.options.[1]}}
    <input type="radio" name="{{survey._id}}" value="{{survey.options.[2]}}"> {{survey.options.[2]}}
    <button type="submit" value="submit" class="btn btn-warning take-survey">Submit </button>
  </form>
  {{/if}}
 </section>

{{/each}}
