<form class="survey-update" data-id="{{survey._id}}">
  <form id="create-survey" class="px-4 py-3 hide">
    <div class="form">
      <label>Survey Title</label>
      <input type="text" name="survey[question]" placeholder="Title" value="{{survey.title}}">
    </div>
    <div class="form">
    <div class="form-group">
      <label>Survey Question</label>
      <input type="text" name="survey[question]" placeholder="New Question" class="form-control" value="{{survey.question}}" >
    </div>
    <div class="form-group">
      <label>Option 1</label>
      <input type="text" name="survey[option1]" placeholder="New Option" class="form-control" value="{{survey.options.[0]}}" >
    </div>
    <div class="form-group">
      <label>Option 2</label>
      <input type="text" name="survey[option2]" placeholder="New Option" class="form-control" value="{{survey.options.[1]}}" >
    </div>
    <div class="form-group">
      <label>Option 3</label>
      <input type="text" name="survey[option3]" placeholder="New Option" class="form-control" value="{{survey.options.[2]}}" >
    </div>
     <button type="submit" class="btn btn-secondary" value="Update-Option!">Submit!</button>
  </form>
</form>
