{{#each surveys as |survey|}}
 <section id="survey{{survey._id}}" data-id="{{survey._id}}" class="all">
    <h2>{{survey.title}}</h2>
    <p> Question: {{survey.question}}</p>


  <form>
    <input type="radio" name="{{survey._id}}" value="{{survey.options.[0]}}"> {{survey.options.[0]}}
    <input type="radio" name="{{survey._id}}" value="{{survey.options.[1]}}"> {{survey.options.[1]}}
    <input type="radio" name="{{survey._id}}" value="{{survey.options.[2]}}"> {{survey.options.[2]}}
    <button type="submit" value="submit" class="btn btn-warning take-survey">Submit </button>
  </form>

 </section>

{{/each}}
