{{#each surveys as |survey|}}
  <section id="survey{{survey._id}}" data-id="{{survey._id}}" class="all">
    <h2>{{survey.question}}</h2>
    <ol>
      <li>{{survey.option1}}</li>
      <li>{{survey.option2}}</li>
      <li>{{survey.option3}}</li>
      <li>{{survey.option4}}</li>
      <li>{{survey.option5}}</li>
    </ol>
  <button data-id="{{survey._id}}" class='btn btn-success' data-toggle="modal" data-target="#update-survey-button"> Update Survey </button>
  <button data-id="{{survey._id}}" class='btn btn-danger'> Delete Survey </button>
  </section>

{{/each}}
