{{#each surveys as |survey|}}
  <section id="survey{{survey._id}}" data-id="{{survey._id}}" class="all">
    <h2>{{survey.title}}</h2>
    <p>{{survey.question}}</p>

    <ol>
      <li>{{survey.options.[0]}}</li>
      <li>{{survey.options.[1]}}</li>
      <li>{{survey.options.[2]}}</li>
    </ol>
  <button data-id="{{survey._id}}" class='btn btn-success'> Update Survey </button>
  <button data-id="{{survey._id}}" class='btn btn-danger'> Delete Survey </button>
  </section>

{{/each}}
