
<section id="survey{{esat.survey._id}}" data-id="{{esat.survey._id}}" class="all">
   <h2>{{esat.survey.title}}</h2>
   <p> Question: {{esat.survey.question}}</p>

<ul>
  <li>{{esat.survey.options.[0]}} : {{esat.result1}}</li>
  <li>{{esat.survey.options.[1]}} : {{esat.result2}}</li>
  <li>{{esat.survey.options.[2]}} : {{esat.result3}}</li>
</ul>

</section>
