
<section id="survey{{esat.survey._id}}" data-id="{{esat.survey._id}}" class="all">
   <h2>{{esat.survey.title}}</h2>
   <p> Question: {{esat.survey.question}}</p>

{{log esat}}
{{log esat.survey}}

<ul>
  <li>{{esat.result1}}</li>
  <li>{{esat.result2}}</li>
  <li>{{esat.result3}}</li>
</ul>

</section>
