
<section id="survey{{results.survey._id}}" data-id="{{results.survey._id}}" class="all">
   <h2>{{results.survey.title}}</h2>
   <p> Question: {{results.survey.question}}</p>

<ul>
  <li>{{results.survey.options.[0]}} : {{results.result1}}</li>
  <li>{{results.survey.options.[1]}} : {{results.result2}}</li>
  <li>{{results.survey.options.[2]}} : {{results.result3}}</li>
</ul>

</section>
